@import url("https://fonts.googleapis.com/css?family=Kanit:200,400,700");
.full_height {
  height: 100%; }

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0; }

label {
  cursor: text;
  text-transform: uppercase;
  font-size: 20px;
  transition: all .3s ease;
  position: absolute;
  margin-left: 15px;
  margin-top: 23px;
  font-weight: 200; }

h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 80px;
  margin-bottom: 45px; }
  h1.green_color {
    color: #6FCF97; }
  h1.white_color {
    color: #FFFFFF; }

h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  line-height: 55px;
  margin-bottom: 25px;
  margin-top: 20px; }
  h2 b {
    font-weight: 100; }
  h2.green_color {
    color: #6FCF97; }
  h2.white_color {
    color: #FFFFFF; }

h3 {
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  margin-top: 100px; }
  h3.green_color {
    color: #6FCF97; }
  h3.white_color {
    color: #FFFFFF; }

h4 {
  line-height: 20px; }
  h4.green_color {
    color: #6FCF97; }
  h4.white_color {
    color: #FFFFFF; }

h5 {
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: uppercase; }
  h5.green_color {
    color: #6FCF97; }
  h5.white_color {
    color: #FFFFFF; }

div.menu-circle {
  z-index: 192;
  position: fixed;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: right;
  right: 50px;
  top: 50px;
  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.25), 2px 2px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, 0);
  transition: all .5s ease; }
  div.menu-circle.green_color {
    border: 5px solid #6FCF97; }
  div.menu-circle.white_color {
    border: 5px solid #FFFFFF; }
  div.menu-circle:hover {
    cursor: pointer; }
  div.menu-circle.active {
    box-shadow: none !important;
    height: 600px;
    width: 600px;
    border: none !important;
    background: #FFFFFF !important;
    right: -110px;
    top: -110px; }

body {
  font-family: "Kanit", sans-serif; }
  body input {
    width: 75%;
    padding: 1em;
    margin: 0.8em;
    margin-left: 0 !important;
    border: none !important;
    text-transform: uppercase; }
    body input.w25 {
      width: 25% !important; }
    body input.button-green {
      border: 5px solid #6FCF97 !important;
      background: #FFF;
      color: #6FCF97;
      width: 50%; }
    body input.button-white {
      border: 5px solid #ffffff !important;
      background: #6FCF97;
      color: #FFFFFF;
      width: 50%; }
  body.bg-green {
    background: #6FCF97; }
  body .align-right {
    text-align: right; }
    @media screen and (max-width: 450px) {
      body .align-right {
        text-align: left; } }
    @media screen and (max-width: 1200px) {
      body .align-right {
        text-align: left; } }
  body .hide {
    display: none; }
  body .onEnter_cover {
    z-index: 200;
    position: fixed;
    height: 100%;
    width: 100%;
    background: #6FCF97;
    left: 0;
    top: 0;
    border-right: 20px solid #FFFFFF;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease; }
    body .onEnter_cover img {
      margin-left: 50%;
      margin-top: 25%;
      height: 100px;
      width: 100px; }
    body .onEnter_cover.animated {
      left: -100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease; }
  body .shoespace {
    width: 100%;
    position: fixed;
    bottom: 0; }
    body .shoespace a {
      padding-bottom: 50px !important;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100; }
      body .shoespace a:hover {
        text-decoration: underline;
        cursor: pointer; }
      body .shoespace a:last-child {
        margin-left: 25px; }
    body .shoespace.show {
      z-index: 110; }
    body .shoespace img {
      max-width: 100%;
      padding-left: 50px; }
  body .height_40 {
    height: 40%;
    width: 100%; }
  body span.error {
    font-weight: 400;
    color: indianred;
    text-transform: uppercase; }
  body .menu-content {
    position: fixed;
    top: 50px;
    right: 50px;
    text-align: right;
    color: #6FCF97;
    text-transform: uppercase;
    font-size: 0px;
    font-weight: 700;
    transition: font-size .5s ease; }
    body .menu-content ul {
      margin-top: 100px;
      list-style-type: none; }
      body .menu-content ul li:hover {
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25); }
      body .menu-content ul a {
        text-decoration: none;
        color: #6FCF97; }
    body .menu-content.active {
      font-size: 40px;
      transition: font-size .5s ease; }
  body .cover {
    z-index: 190;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #3C3C3C;
    opacity: 0.3;
    display: none;
    transition: all .5s ease; }
    body .cover.active {
      display: block !important; }
  body input {
    font-size: 16px; }
  body .bg-green {
    background: #6FCF97; }
    body .bg-green input[type=text], body .bg-green input[type=password], body .bg-green input[type=email], body .bg-green input[type=date], body .bg-green input[type=number] {
      background: #FFFFFF;
      color: #6FCF97; }
    body .bg-green label.active {
      color: #FFFFFF !important; }
    body .bg-green label {
      color: #6FCF97; }
  body label.active {
    margin-top: -10px;
    font-size: 15px;
    margin-left: 0px; }
  body .bg-white {
    background: #FFFFFF; }
    body .bg-white input[type=text], body .bg-white input[type=password], body .bg-white input[type=email], body .bg-white input[type=date], body .bg-white input[type=number] {
      background: #6FCF97;
      color: #FFFFFF; }
    body .bg-white label.active {
      color: #6FCF97 !important; }
    body .bg-white label {
      color: #FFFFFF; }
  body .brands .box {
    background-color: #FFFFFF !important;
    padding: 0px 0px !important; }
  body .brands.inactive {
    opacity: 0.5; }
  body .brands.active {
    transition: all .5s ease; }
    body .brands.active .box:hover {
      border: 5px solid #38684c;
      cursor: pointer; }
  body .box {
    height: 175px;
    width: 175px;
    margin-top: 25px;
    margin-right: 25px;
    display: inline-table;
    background-size: contain !important;
    text-align: center; }
    body .box a {
      float: left;
      margin-left: 7px;
      font-size: 25px; }
      body .box a i {
        color: #000000; }
    @media screen and (max-width: 450px) {
      body .box {
        height: 20%;
        width: auto; } }
    @media screen and (max-width: 1200px) {
      body .box {
        height: 150px;
        width: 150px; } }
    body .box.active {
      border: 5px solid #000000 !important;
      cursor: default !important; }
    body .box.inactive {
      background: #ffffff;
      opacity: .5; }
  body .model.box {
    background: #6FCF97;
    border: 5px solid #ffffff; }
  body .model .img {
    height: 70%;
    background-color: #FFFFFF !important;
    background-size: 70% !important;
    background-repeat: no-repeat !important;
    background-position: 50% !important; }
  body .model .modelName {
    line-height: 30%;
    padding-top: .3em; }
  body .model .modelName span {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    text-align: center;
    overflow: hidden;
    position: relative;
    vertical-align: middle; }
  body .model:hover {
    transition: all .3s ease; }
    body .model:hover .img {
      background-color: #6FCF97 !important; }
    body .model:hover .modelName span {
      color: #6FCF97; }
    body .model:hover.box {
      background: #FFFFFF; }
  body .wide_wrapper {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%; }
    @media screen and (max-width: 1200px) {
      body .wide_wrapper {
        padding-left: 25px !important;
        padding-right: 25px !important;
        padding-top: 25px !important; } }
  body .small_wrapper {
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 35%; }
    @media screen and (max-width: 450px) {
      body .small_wrapper {
        padding-right: 0px !important; } }
    @media screen and (max-width: 1200px) {
      body .small_wrapper {
        padding-left: 25px !important;
        padding-right: 25px;
        padding-top: 25px !important; } }
    @media screen and (max-width: 1750px) {
      body .small_wrapper {
        padding-left: 100px;
        padding-right: 100px; } }
  body .section {
    padding: 3em;
    padding-top: 10%;
    font-size: 20px !important; }
  body input.bit-4 {
    width: 25% !important;
    margin-right: 0 !important;
    border-right: 4px solid #6FCF97 !important;
    padding: 1em; }
    body input.bit-4:last-child {
      border-right: none !important; }

/* Login / registration page */

/*# sourceMappingURL=styles.css.map */
