@import url('https://fonts.googleapis.com/css?family=Kanit:200,400,700');

$green-color: #6FCF97;
$white-color: #FFFFFF;
$default-font: "Kanit", sans-serif;

$phone_width: 450px;
$tablet_width: 1200px;
$regular_screen: 1750px;

.full_height{
  height: 100%;
  @media screen and (max-width: $phone_width) {
    &.bit-3.bg-green:last-child {
      display: none;
    }
  }
}

html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}


label {
  cursor: text;
  text-transform: uppercase;
  font-size: 20px;
  transition: all .3s ease;
  position: absolute;
  margin-left: 15px;
  margin-top: 23px;
  font-weight: 200;
}

.footer-tekst .uncol.style-light .uncoltable .uncell.vc_custom_1496995367456.border-color-466908-color.no-block-padding .uncont .uncode_text_column p{

}

h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 100px;
  line-height: 80px;
  margin-bottom: 45px;

  @media screen and (max-width: $regular_screen) {
    font-size: 80px;
  }

  @media screen and (max-width: $tablet_width) {
    font-size: 70px;
  }

  @media screen and (max-width: $phone_width) {
    font-size: 60px;
  }

  &.green_color{
    color: $green-color;
  }

  &.white_color{
    color: $white-color;
  }
}

h2{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 70px;
  line-height: 55px;
  margin-bottom: 25px;
  margin-top: 20px;

  @media screen and (max-width: $regular_screen) {
    font-size: 60px;
  }

  @media screen and (max-width: $tablet_width) {
    font-size: 50px;
  }

  @media screen and (max-width: $phone_width) {
    font-size: 40px;
  }


  b{
    font-weight: 100;
  }

  &.green_color{
    color: $green-color;
  }

  &.white_color{
    color: $white-color;
  }
}

h3{
  text-transform: uppercase;
  font-weight: 200;
  font-size: 20px;
  margin-top: 70px;

  &.green_color{
    color: $green-color;
  }

  &.white_color{
    color: $white-color;
  }

  &.no-margin{
    margin-top: 0px;
  }
}

h4{
  line-height: 20px;
  text-transform: uppercase;

  &.green_color{
    color: $green-color;
  }

  &.white_color{
    color: $white-color;
  }
}

h5{
  font-size: 30px;
  font-weight: 100;
  margin-bottom: 20px;
  text-transform: uppercase;

  &.green_color{
    color: $green-color;
  }

  &.white_color{
    color: $white-color;
  }
}

div.menu-circle {
  z-index: 192;
  position: fixed;
  height: 75px;
  width: 75px;
  border-radius: 50%;

  margin-right: 10%;
  margin-top: 75px;

  @media screen and (max-width: $regular_screen) {
    margin-top: 10px;
    margin-right: 0px;
  }

  @media screen and (max-width: $tablet_width) {
    height: 50px;
    width: 50px;
  }

  @media screen and (max-width: $phone_width) {

  }


  float: right;
  right: 50px;
  top: 50px;

  &.green_color{
    border: 5px solid $green-color;
  }

  &.white_color{
    border: 5px solid $white-color;
  }

  box-shadow: inset 2px 2px 0px rgba(0, 0, 0, 0.25), 2px 2px 0px rgba(0, 0, 0, 0.25);
  background: rgba(255, 255, 255, .0);

  transition: all .5s ease;

  &:hover{
    cursor: pointer;
  }

  &.active{
    box-shadow: none!important;
    height: 600px;
    width: 600px;
    //border: none!important;
    background: $white-color!important;
    right: -110px;
    top: -110px;

    @media screen and (max-width: $tablet_width) {
      //height: 500px;
      //width: 500px;
    }

    @media screen and (max-width: $phone_width) {
      height: 500px;
      width: 500px;
    }
  }

  &.inactive{
    height: 75px;
    width: 75px;
  }
}

body {

  input, select{
    max-width: 400px;
  }

  .side_menu {

    list-style-type: none;

    li a {
      color: #FFFFFF;
      font-style: normal;
      font-weight: 100;
      font-size: 26px;
      text-transform: uppercase;
      text-decoration: none;


      &:hover{
        opacity: 0.8;
      }
    }
  }

  .bit-66{
    width: 66.6666%;

    &.padding-top{
      padding: 100px;
    }

      @media screen and (max-width: $phone_width) {
        width: 100%!important;
      }

      @media screen and (max-width: $regular_screen) {
        width: 50%;

        &.padding-top{
          padding: 50px!important;
        }
      }

      @media screen and (max-width: $tablet_width) {
        &.bit-3{
          width: 100%!important;
        }
      }
    }

  .bit-3{
    &.padding-top{
      padding: 100px;
    }

    @media screen and (max-width: $tablet_width) {
      width: 50%;
    }
    @media screen and (max-width: $phone_width) {
      width: 100%!important;
    }
  }

  select{
    border-radius: 0!important;
    height: 50px;
  }

  .latest-runs{
    max-width: 600px;
    margin-top: 25px!important;
    @media screen and (max-width: $phone_width) {
      width: 100%;

      .bit-4 {
        width: 50%!important;
      }
    }

    .date{
      background: #3C3C3C;
      text-align: center;
      text-transform: uppercase;
      color: $white-color;
      font-weight: 100;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .distance{
      background: $green-color;
      text-align: center;
      text-transform: uppercase;
      color: $white-color;
      font-weight: 100;
      padding-top: 15px;
      padding-bottom: 15px;
    }

    .wear{
      color: $green-color;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 28px;
      padding-top: 5px;
      padding-bottom: 15px;
    }

    input[type=submit]{
      margin-top: 50px;
    }
  }

  .popup_addrun{
    display: none;
    z-index: 200;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 5px solid $green-color;

    margin: auto;
    height: 700px;
    width: 700px;
    padding: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    color: $green-color;
    text-align: center;
    transition: all .5s ease!important;

    &.active{
      transition: all .5s ease!important;
      display: block;
    }

    i{
      font-size: 35px;

      &:hover{
        color: indianred;
        cursor: pointer;
      }
    }

    h2{
      padding-top: 60px;
    }
  }

  .logout_button{
    width: auto;
    border: 5px solid $green-color!important;
    color: $green-color;
    background: none;

    &:hover{
      cursor: pointer;
    }
  }

  .label2{
    position: relative;
    right: 20px !important;
    top: 2px;
    background: #FFF;
    padding: 5px;
  }

  .feet{
    margin-bottom: 50px;
    margin-top: 50px;
    max-width: 100%;
  }

  input, select {
    width: 75%;
    padding: 1em;
    margin: 0.8em;
    margin-left: 0 !important;
    border: none !important;
    text-transform: uppercase;

    &.w25{
      width: 25%;

      @media screen and (max-width: $phone_width) {
        width: 100%;
      }

      @media screen and (max-width: $tablet_width) {
        width: 50%;
      }
    }

    &.w10{
      width: 10%!important;
      margin-right: -50px;

      @media screen and (max-width: $phone_width) {
        width: 100%!important;
      }

      @media screen and (max-width: $tablet_width) {
        width: 30%!important;
      }
    }

    &.button-green {
      border: 5px solid #6FCF97 !important;
      background: #FFF;
      color: $green-color;
      width: 50%;

      @media screen and (max-width: $tablet_width) {
        width: 75%!important;
      }
    }

    &.button-white {
      border: 5px solid #ffffff !important;
      background: $green-color;
      color: #FFFFFF;
      width: 50%;

      @media screen and (max-width: $tablet_width) {
        width: 75%!important;
      }
    }
  }

  &.bg-green {
    background: $green-color;
  }

  .align-right{
    text-align: right;

    @media screen and (max-width: $phone_width) {
      text-align: left;
    }

    @media screen and (max-width: $tablet_width) {
      text-align: left;
    }
  }

  .hide{
    display: none;
  }

  .onEnter_cover{
    z-index: 200;
    position: fixed;
    height: 100%;
    width: 100%;
    background: $green-color;
    left: 0;
    top: 0;

    border-right: 20px solid $white-color;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;

    img{
      margin-left: 50%;
      margin-top: 25%;
      height: 100px;
      width: 100px;
    }

    &.animated{
      left: -100%;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }
  }

  .shoespace{
    width: 100%;
    position: fixed;
    bottom: 0;

    a {
      padding-bottom: 50px!important;
      color: #fff;
      text-transform: uppercase;
      font-weight: 100;

      &:hover{
        text-decoration: underline;
        cursor: pointer;
      }

      &:last-child{
        margin-left: 25px;
      }
    }

    &.show{
      z-index: 110;
    }

    img{
      max-width: 100%;
      padding-left: 50px;

      @media screen and (max-width: $phone_width) {

      }

      @media screen and (max-width: $tablet_width) {

      }
    }
  }

  .height_40{
    height: 40%;
    width: 100%;
  }

  span.error{
    color: #FFF;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    background-color: indianred;
    border-radius: 15px;
    font-size: 15px;
  }

  span.succes{
    color: #FFF;
    font-weight: 100;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    background-color: forestgreen;
    border-radius: 15px;
    font-size: 15px;
  }

  .menu-content{
    position: fixed;
    top: 50px;
    right: 50px;
    //display: none;
    text-align: right;
    margin-right: 10%;

    @media screen and (max-width: $regular_screen) {
      top: 15px;
      right: 10px;
      margin-right: 25px;
    }

    ul{
      margin-top: 100px;
      list-style-type: none;

      @media screen and (max-width: $regular_screen) {
        margin-top: 50px;
      }

      li:hover{
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
      }

      a{
        text-decoration: none;
        color: $green-color;
      }
    }

    color: $green-color;
    text-transform: uppercase;
    font-size: 0px;
    font-weight: 700;

    .logout_button{
      display: none;
      float: right;
    }

    transition: font-size .5s ease;

    &.active{
      font-size: 40px;
      transition: font-size .5s ease;

      @media screen and (max-width: $phone_width) {
        font-size: 28px;
      }

      .logout_button{
        display: block;
      }
    }
  }

  .cover{
    z-index: 190;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #3C3C3C;
    opacity: 0.3;
    display: none;

    transition: all .5s ease;


    &.active{
      display: block!important;
    }
  }

  font-family: $default-font;

  input, select{
    font-size: 16px;
  }

  .bg-green {
    background: $green-color;

    input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], select {
      background: #FFFFFF;
      color: $green-color;
    }

    label.active {
      color: $white-color !important;
    }

    label {
      color: $green-color;
    }
  }

  label.active {
    margin-top: -10px;
    font-size: 15px;
    margin-left: 0px;
  }

  .bg-white {
    background: $white-color;

    input[type=text], input[type=password], input[type=email], input[type=date], input[type=number], select{
      background: $green-color;
      color: $white-color;
    }

    label.active {
      color: $green-color !important;
    }

    label {
      color: $white-color;
    }
  }

  .brands {
    .box{
      background-color: #FFFFFF!important;
      padding: 0px 0px!important;
    }

    &.inactive {
      opacity: 0.5;
    }

    &.active {
      transition: all .5s ease;

      .box:hover {
        border: 5px solid #38684c;
        cursor: pointer;
      }
    }
  }

  .box {
    height: 175px;
    width: 175px;
    margin-top: 25px;
    margin-right: 25px;
    display: inline-table;
    background-size: contain !important;
    text-align: center;

    a{
      float: left;
      margin-left: 7px;
      font-size: 25px;
      i{
        color: #000000;
      }
    }

    @media screen and (max-width: $phone_width) {
      height: 20%;
      width: auto;
    }

    @media screen and (max-width: $tablet_width) {
      height: 150px;
      width: 150px;
    }

    &.active{
      border: 5px solid #000000!important;
      cursor: default!important;
    }

    &.inactive{
      background: #ffffff;
      opacity: .5;
    }
  }

  .model{
    &.box{
      background: $green-color;
      border: 5px solid #ffffff;
    }

    .img{
      height: 70%;
      background-color: $white-color!important;
      background-size: 70%!important;
      background-repeat: no-repeat!important; 
      background-position: 50%!important;
    }

    .modelName{
      line-height: 30%;
      padding-top: .3em;
    }

    .modelName span{
      text-transform: uppercase;
      color: $white-color;
      font-weight: 500;
      font-size: 20px;
      line-height: 1;
      text-align: center;
      overflow: hidden;
      position: relative;
      vertical-align: middle;
    }

    &:hover{
      transition: all .3s ease;

      .img{
        background-color: $green-color!important;
      }

      .modelName span{
        color: $green-color;
      }

      &.box{
        background: $white-color;
      }
    }
  }

  .wide_wrapper {
    padding-top: 75px;
    padding-left: 10%;
    padding-right: 10%;

      @media screen and (max-width: $phone_width) {
        padding-top: 10px;
      }

      @media screen and (max-width: $tablet_width) {
        padding-left: 25px!important;
        padding-right: 25px!important;
      }

      @media screen and (max-width: $regular_screen) {
        padding-top: 25px;
      }
    }

  .small_wrapper {
    padding-top: 100px;
    padding-left: 20%;
    padding-right: 35%;

    @media screen and (max-width: $phone_width) {
      padding-right: 0px!important;
    }

    @media screen and (max-width: $tablet_width) {
      padding-left: 25px!important;
      padding-right: 25px;
      padding-top: 25px!important;
    }

    @media screen and (max-width: $regular_screen) {
      padding-left: 100px;
      padding-right: 100px;
    }
  }

  .section {
    padding: 3em;
    padding-top: 10%;
    font-size: 20px !important;

    @media screen and (max-width: $phone_width) {
      padding: 25px;
      padding-top: 50px;
      input, select{
        width: 100%;
      }
    }


  }

  input.bit-4 {
    width: 25% !important;
    margin-right: 0 !important;
    border-right: 4px solid $green-color !important;
    padding: 1em;

    &:last-child {
      border-right: none !important;
    }
  }
}


/* Login / registration page */

